# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [14]:
# import numpy and pandas
import pandas as pd
import numpy as np
from scipy.stats import trim_mean, mode, skew, gaussian_kde, pearsonr, spearmanr, beta
from statsmodels.stats.weightstats import ztest as ztest

from scipy.stats import ttest_ind, norm, t
from scipy.stats import f_oneway
from scipy.stats import sem

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [3]:
# Run this code:
salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [4]:
# Your code here:

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [5]:
# Your code here:

33183

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [7]:
# Your code here:

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [8]:
# Your code here:

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [21]:
from statsmodels.stats.weightstats import ztest
# Since we have an N of 8022 and only one sample (Hourly workers), we go for a Z-test
# H0: Hourly rate == 30
# H1: Hourly rate != 30

# your code here

(20.6198057854942, 1.8228873859286195e-94)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [22]:
# Subset of the dataset: only Police department
salaries_police = salaries[(salaries['Department'] == 'POLICE') & (salaries['Salary or Hourly'] == 'Salary')]

In [57]:
# Since we have an N of 13404 and only one sample (salary of the police), we go for a Z-test
# H0: Annual Salary == 86000
# H1: Annual Salary > 86000

statistic, p_value = ztest(salaries_police['Annual Salary'], value = 86000, alternative="larger")
(statistic, p_value)

# Since the p-value is < 0.025, we have enough evidence to reject H0,
# Therefore, the annual salary for this year is greater than $86000/year

(3.081997005712994, 0.0010280845287547855)

Using the `crosstab` function, find the department that has the most hourly workers.

In [26]:
# Your code here:
# first rows, then columnns
hourly_workers = pd.crosstab(salaries['Department'], salaries['Salary or Hourly'], normalize='index')
hourly_workers

Department
STREETS & SAN    1862
WATER MGMNT      1513
OEMC             1273
Name: Hourly, dtype: int64

In [36]:
hourly_workers[hourly_workers['Hourly'] == hourly_workers['Hourly'].max()]

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1862     336

In [28]:
pd.crosstab(salaries['Department'], salaries['Salary or Hourly'])['Hourly'].sort_values(ascending=False).head(3)

Department
STREETS & SAN    1862
WATER MGMNT      1513
OEMC             1273
Name: Hourly, dtype: int64

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [60]:
from scipy.stats import ttest_1samp
streets = salaries["Hourly Rate"].loc[salaries["Department"] == "STREETS & SAN"].dropna()

statistic, p_value = ttest_1samp(streets, 35, alternative="less")

print(statistic, p_value)

-9.567447887848152 1.6689265282353859e-21

In [61]:
if p_value < 0.05/2:
    print("Rejection of H0. Keep the alternative: the salaries are significantly lesser than 35")
if p_value > 0.05/2:
    print("We don't have enough evidence to reject H0")

Rejection of H0. Keep the alternative: the salaries are significantly lesser than 35

In [29]:
salaries_streets = salaries[(salaries['Department'] == 'STREETS & SAN') & (salaries['Salary or Hourly'] == 'Hourly')]

In [31]:
# H0: Hourly Rate == 35
# H1: Hourly Rate < 35

statistic, p_value = ztest(salaries_streets['Hourly Rate'], value = 35, alternative="smaller")
p_value
# Given that p-value is < 0.025, we have enough evidence to reject H0,
# therefore, we accept H1 and, indeed, the workers of this department are right and they earn less than $35/hour.

5.478855641943434e-22

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [41]:
t.interval(confidence = 0.95, 
           df = salaries_hourly.shape[0] - 1, 
           loc = salaries_hourly['Hourly Rate'].mean(), 
           scale = stats.sem(salaries_hourly['Hourly Rate']))

(32.52345834488529, 33.05365708767727)

In [69]:
# Your code here:
# 95% CI for the mean hourly wage of all hourly workers
# t.interval, len - 1 degrees of freedom
# scipy.stats.sem --> standard error 
from scipy.stats import t
hourly = salaries.loc[(salaries['Hourly Rate'].isnull() == False), 'Hourly Rate']
mean_ = np.mean(hourly)
error_ = stats.sem(hourly)
stats.t.interval(.95, loc = mean_, scale = error_, df = len(hourly)-1)

(32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [42]:
t.interval(confidence = 0.95, 
           df = salaries_police.shape[0] - 1, 
           loc = salaries_police['Annual Salary'].mean(), 
           scale = stats.sem(salaries_police['Annual Salary']))

(86177.05631531784, 86795.77269094894)

In [62]:
# Your code here:
police = salaries.loc[(salaries['Department'] == "POLICE") & (salaries['Annual Salary'].isnull() == False), 'Annual Salary']
mean_ = np.mean(police)
error_ = stats.sem(police)
stats.t.interval(.95, loc = mean_, scale = error_, df = len(police)-1)

(86177.05631531784, 86795.77269094894)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [75]:
# Your code here:
# We reject the null hypothesis, because the p-value is smaller than 0.05
from statsmodels.stats.proportion import proportions_ztest
hourly = salaries[salaries['Salary or Hourly'] == 'Hourly']
lenght = len(salaries)
hourly_work = len(hourly)
proportions_ztest(hourly_work, lenght, value = .25)

(-3.5099964213703005, 0.0004481127249057967)

In [48]:
from statsmodels.stats.proportion import proportions_ztest as proportions_ztest
count = len(salaries[salaries["Salary or Hourly"]== "Hourly"])
nobs = len(salaries)
statistic, p_value =  proportions_ztest(count, nobs, value=0.25, alternative='two-sided')
if p_value < 0.05:
    print(f"Hourly workers in the City of Chicago is significantly different from 25% with a p-value of {p_value} and observed proportion of {round((count/nobs)*100, 2)} %")
if p_value > 0.05:
    print(f"The Salary is NOT significally smaller than $35/hour (p-value of {p_value})")

Hourly workers in the City of Chicago is significantly different from 25% with a p-value of 0.0004481127249057967 and observed proportion of 24.18 %

In [43]:
salaries_salary = salaries[salaries['Salary or Hourly'] == 'Salary']

In [44]:
p = salaries_hourly.shape[0] / (salaries.shape[0])
p # this is the actual proportion

0.24175029382515142

In [49]:
from statsmodels.stats.proportion import proportions_ztest

# H0: p == 0.25
# H1: p != 0.25

count = salaries_hourly.shape[0]
nobs = salaries.shape[0]
value = 0.25
alternative = "two-sided"
prop_var = False

p_value = proportions_ztest(count, nobs, value, alternative, prop_var)[1]
p_value

# Since the p-value is < 0.05, we have enough evidence to reject H0,
# therefore the proportion of hourly workers is significantly different from 25% 
# (although it is quite close: 0.242)

0.0004481127249057967